---
import { GoogleAnalytics } from 'astro-analytics';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sabeel - Daily Islamic Learning Made Simple</title>

    <!-- Primary Meta Tags -->
    <meta
      name="description"
      content="Join Sabeel for 5-minute daily lessons to deepen your Islamic knowledge, one day at a time."
    />
    <meta
      name="keywords"
      content="Islamic learning, daily Islamic lessons, Muslim education, Sabeel app, short Islamic content, Islamic habit building, daily Islamic knowledge, Islamic reflection, Sabeel"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sabeel.in/" />
    <meta
      property="og:title"
      content="Sabeel - Daily Islamic Learning Made Simple"
    />
    <meta
      property="og:description"
      content="Join Sabeel for 5-minute daily lessons to deepen your Islamic knowledge, one day at a time."
    />
    <meta
      property="og:image"
      content="https://sabeel.in/images/sabeel_og_image.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://sabeel.in/" />
    <meta
      name="twitter:title"
      content="Sabeel - A trusted path to daily Islamic learning"
    />
    <meta
      name="twitter:description"
      content="Join Sabeel for 5-minute daily lessons to deepen your Islamic knowledge, one day at a time."
    />
    <meta
      name="twitter:image"
      content="https://sabeel.in/images/sabeel_og_image.png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <GoogleAnalytics id="G-T709B9JN3Y" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
